@use '../configs/colors';
@use '../configs/spaces';
@use '../utils/screen';

.interactive-card-details-form {
    $card-width-mobile: 275px;
    $card-height-mobile: 158px;
    $card-width-desktop: 447px;
    $card-height-desktop: 245px;

    display: grid;
    grid-template-rows: 225px 1fr;
    row-gap: 4.3rem;
    background-color: colors.$neutral-white;

    &__extender {
        background-image: url('./../../images/bg-main-mobile.png');
        background-size: cover;
        position: relative;
    }

    &__main {
        background-color: colors.$neutral-white;
        padding: spaces.$large;
    }

    .card-back {
        width: $card-width-mobile;
        height: $card-height-mobile;
        position: absolute;
        left: calc(50% - ($card-width-mobile*0.37));
        top: 20px;
        background-size: $card-width-mobile $card-height-mobile;
    }

    .card-front {
        width: $card-width-mobile;
        height: $card-height-mobile;
        position: absolute;
        left: calc(50% - ($card-width-mobile*0.63));
        top: 109px;
        z-index: 1;
        background-size: $card-width-mobile $card-height-mobile;
    }

    @include screen.respond-to('desktop') {
        grid-template-rows: 100%;
        grid-template-columns: 33.5% 1fr;
        column-gap: 20rem;

        &__extender {
            background-image: url('./../../images/bg-main-desktop.png');
            position: relative;
        }

        &__main {
            display: flex;
            align-items: center;
            justify-content: left;

            > * {
                max-width: 420px;
                row-gap: 2.1rem;
            }
        }

        .card {
            width: $card-width-desktop;
            height: $card-height-desktop;
            background-size: unset;
            position: absolute;
            font-size: 1.55em;
        }

        .card-back {
            @extend .card;
            top: calc(50% + 20px);
            left: unset;
            right: -224px;
        }

        .card-front {
            @extend .card;
            top: calc(50% - 20px - $card-height-desktop);
            left: unset;
            right: -120px;
        }
    }
}