@use '../configs/colors';
@use '../configs/spaces';
@use '../utils/color-fills';
@use '../utils/corners';
@use '../utils/fancy-borders';

input {
    width: 100%;
    font: inherit;
    outline: none;
    padding: spaces.$standard;
    cursor: pointer;
    @include corners.round-standard;
}

input[type=text] {
    border: none;
    border-color: colors.$neutral-light-grayish-violet;
    border-style: solid;
    border-width: 1px;
    padding: calc(spaces.$standard*1.2) calc(spaces.$standard*1.5);
    color: colors.$neutral-very-dark-violet;

    &::placeholder {
        color: colors.$neutral-light-grayish-violet;
    }
}

input[type=submit] {
    @include color-fills.dark;
    padding: calc(spaces.$standard * 1.75);
}