$primary-red-input-errors: hsl(0, 100%, 66%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-light-grayish-violet: hsl(270, 3%, 87%);
$neutral-dark-grayish-violet: hsl(279, 6%, 55%);
$neutral-very-dark-violet: hsl(278, 68%, 11%);