@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$families: (
    main: #{'Space Grotesk', sans-serif},
);

$weights: (
    medium: 500,
);

$main: map-get($weights, medium) 18px map-get($families, main);